<div class="city">
  <h2 *ngIf="currentCity !==''"><i class="bi bi-geo-alt-fill fa-xs"></i> {{currentCity}}</h2>
  <h2 *ngIf="currentCity==''"><i class="fa-solid fa-city fa-xs"></i> {{city}} ({{state}},
      {{country}})</h2>
</div>

<div class="position-relative d-flex justify-content-center py-1">
  <div class="mx-2 py-1">
    <i class="fa-solid fa-magnifying-glass fa-beat-fade " style="color: #f0f8ff;"></i>
  </div>
  <div>
    <input type="text" [(ngModel)]="searchQuery" (input)="searchCities()" placeholder="  Search city...">
    <ul class="autocomplete-list">
      <li *ngFor="let location of searchResults" (click)="selectCity(location)">{{ location.city}} ({{ location.state}},
        {{ location.country }})</li>
    </ul>
  </div>
  <div class="mx-2">
    <button mat-mini-fab (click)="getWeatherCurrentLocation()">
      <mat-icon>my_location</mat-icon>
    </button>
  </div>
</div>