.titleContainer{
    height: 60px;
    background-color: #1D5D75;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}
img{
    width: 90px;
    height: auto;
}
h1{
    font-family: 'Poppins';
    margin: 0;
    color: #FD9F01;
}

