<div class="row d-flex justify-content-center pt-3 container-fluid mx-auto">
  <ng-container *ngFor="let forecast of forecastDailyData">
    <div class="col-md-6 mx-auto  d-flex justify-content-center">
      <div class="card mb-4 p-1" id="card">
        <h5 *ngIf="(forecast.time | date: 'MM/dd/YY') == (currentDate | date: 'MM/dd/YY')" class="card-title cardTitle">
          Today</h5>
        <h5 *ngIf="(forecast.time | date: 'MM/dd/YY') !== (currentDate | date: 'MM/dd/YY')"
          class="card-title cardTitle">{{forecast.time |
          date:"EEEE"}}</h5>
        <div class="card-body d-flex">
          <div class="flex-fill mr-3">
            <div class="  d-flex align-items-center mx-sm-0">
              <div class="flex-fill ml-auto p-2">
                <i class="d-flex justify-content-start" [ngClass]=" getIconClass(forecast.weathercode)"
                  [ngStyle]="{ 'font-size': '4rem' }"></i><br>
                <span class="d-flex justify-content-start">{{phrase}}</span>
              </div>
              <div class="flex-fill ml-auto p-1">
                <p class="card-text"><i class="fa-solid fa-temperature-high" style="color: #FF694D;"></i> {{
                  forecast.temperatureMax | number:"1.0-0"}}º </p>
                <p class="card-text"><i class="fa-solid fa-temperature-low" style="color: #0977ec;"></i> {{
                  forecast.temperatureMin | number:"1.0-0" }}º </p>
              </div>
              <div class="flex-fill ml-auto p-1">
                <p class="card-text"><i class="bi bi-sunrise"> {{forecast.sunrise | date: "HH:mm"}} </i></p>
                <p class="card-text"><i class="bi bi-sunset"> {{forecast.sunset | date: "HH:mm"}}</i> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>