button{
    margin: 10px;
}
#card{
    background-color: rgba(78, 65, 65, 0.425);
    color: aliceblue;
    /* padding:10px; */
}
.active-btn {
    background-color: red; /* Cambia este color al que desees cuando el botón está activo */
    color: white; /* Cambia este color al que desees para el texto del botón cuando está activo */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
    

}
h2{
    color:white;
}
#MainContainer{
    background-image: url('../../../assets/images/day1.jpg');
    height: 100vh;
}
.autocomplete-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .autocomplete-list li {
    padding: 5px;
    cursor: pointer;
  }
  
  .autocomplete-list li:hover {
    background-color: #f2f2f2;
  }
  

