<div id="MainContainer">
  <h2>Seleccione una ciudad:</h2>
    <div>
      <input type="text" [(ngModel)]="searchQuery" (input)="searchCities()" placeholder="Madrid">
      <ul class="autocomplete-list">
        <li *ngFor="let city of searchResults" (click)="selectCity(city)">{{ city.LocalizedName }}</li>
      </ul>
    </div>
  
  <div class="row">
    <ng-container *ngFor="let forecast of forecastData">
      <div class="col-md-4">
       
        <div class="card mb-4" id="card">
            <h5 *ngIf="(currentDate |date) == (forecast.Date | date)" class="card-title" >Today</h5>
            <h5 *ngIf="(currentDate |date) !== (forecast.Date | date)" class="card-title" >{{forecast.Date | date:"EEEE"}}</h5>
          <div class="card-body d-flex">
            <div class="flex-fill mr-3">
              <div class="d-flex align-items-center">
                <div class="flex-fill ml-auto col-md-4">
                 
                  <i [ngClass]="getWeatherIconClass(forecast.Day.Icon)" [ngStyle]="{ 'font-size': '4rem' }"></i>
                </div>
                <div class="flex-fill ml-auto col-md-4">
                  <p class="card-text"><i class="fa-solid fa-temperature-high"></i>{{ forecast.Temperature.Maximum.Value }} {{ forecast.Temperature.Maximum.Unit }}</p>
                  <p class="card-text"><i class="fa-solid fa-temperature-low"></i>{{ forecast.Temperature.Minimum.Value }} {{ forecast.Temperature.Minimum.Unit }}</p>
                </div>
                <div class="flex-fill ml-auto col-md-4">
                  <p><i class="fa-solid fa-wind"></i>{{forecast.Day.Wind.Speed.Value}} km/h <br></p>
                  <i class="fa-solid fa-compass"></i>{{forecast.Day.Wind.Direction.English}}
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
        
      </div>
    </ng-container>
  </div>
</div>
